/** ImpressBox v1.0 **/
/** Copyright AgileApes, Ltd. 2014 (c) **/

/**
  Transition helper mixin
**/
.transition (@property, @duration, @style: ease-in-out) {
  -webkit-transition-property: @property;
  -webkit-transition-duration: @duration;
  -webkit-transition-timing-function: @style;

  -moz-transition-property: @property;
  -moz-transition-duration: @duration;
  -moz-transition-timing-function: @style;

  -ms-transition-property: @property;
  -ms-transition-duration: @duration;
  -ms-transition-timing-function: @style;

  -o-transition-property: @property;
  -o-transition-duration: @duration;
  -o-transition-timing-function: @style;

  transition-property: @property;
  transition-duration: @duration;
  transition-timing-function: @style;
}

/**
  The main mixin defining an ImpressBox
*/
.box-definition(@color) {
  /**
    THE STRUCTURE
    here the structure of an ImpressBox is defined
  **/
  & {
    background: @color;
    display: inline-block;
    width: 150px;
    height: 150px;
    padding: 5px;
    text-align: center;
    .transition("backgroud", 0.4s);
    border: 1px solid darken(@color, 10%);
    text-decoration: none;
    margin: 2px;

  }
  *, &:hover * {
    text-decoration: none;
  }
  .caption {
    display: block;
    opacity: 0.1;
    width: 148px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    padding-top: 5px;
    padding-bottom: 5px;
    line-height: 20px;
    font-size: 20px;
    top: -30px;
    left: -5px;
    .transition("all", 0.4s);
    text-decoration: none;
    background: darken(@color, 10%);
    color: saturate(darken(@color, 40%), 20%);
  }
  //Here we handle hover changes
  &:hover .caption {
    color: #ffffff;
  }
  &:hover {
    background: darken(@color, 5%);
    text-decoration: none;
  }
  //this changes the appearance of the box's internal bits when hovered
  &:hover .landmark {
    opacity: 0.1;
  }
  &:hover .caption {
    opacity: 1;
    color: #ffffff;
  }
  //the landmarks are defined here
  & .landmark {
    display: block;
    width: 100%;
    height: 100%;
    opacity: 1;
  }
  .text.landmark {
    font-size: 30px;
    line-height: 40px;
    padding-top: 40px;
  }
  .glyph.landmark {
    font-size: 50px;
    line-height: 50px;
    padding-top: 30px;
  }
  .text.landmark, .glyph.landmark {
    font-family: "Helvetica",serif;
    color: darken(@color, 10%);
    text-shadow: 0 1px 0 darken(@color, 30%);
  }
  //border roundness could be added
  &.rounded {
    border-radius: 8px;
  }
  //the box could optionally be defined as tall
  &.tall {
    height: 200px;
  }
  &.tall .text.landmark {
    font-size: 30px;
    line-height: 40px;
    padding-top: 70px;
  }
  &.tall .glyph.landmark {
    font-size: 50px;
    line-height: 50px;
    padding-top: 60px;
  }
  //we could make the box wider
  &.wide {
    width: 200px;
  }
  &.wide .caption {
    width: 198px;
  }
}

/** The default appearance **/

.impress-box {
  .box-definition(#eeeeee)
}

/** Contextual Variations **/

.impress-box.info {
  .box-definition(#d9edf7)
}

.impress-box.danger {
  .box-definition(#f2dede)
}

.impress-box.warning {
  .box-definition(#fcf8e3)
}

.impress-box.success {
  .box-definition(#dff0d8)
}

/** Color Variations **/

.impress-box.muddy.green {
  .box-definition(#A1CF64);
}

.impress-box.green {
  .box-definition(#60b044);
}

.impress-box.lime {
  .box-definition(#6cff8f);
}

.impress-box.orange {
  .box-definition(orange);
}

.impress-box.violet {
  .box-definition(violet);
}

.impress-box.pink {
  .box-definition(pink);
}

.impress-box.yellow {
  .box-definition(yellow);
}

.impress-box.purple {
  .box-definition(#a98cf3);
}

.impress-box.dark.purple {
  .box-definition(#564F8A);
}

.impress-box.blue {
  .box-definition(#7daff3);
}

.impress-box.cyan {
  .box-definition(#98f1f3);
}

.impress-box.teal {
  .box-definition(#00b5ad);
}

.impress-box.red {
  .box-definition(#d95c5c);
}
